<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DevOps Bookmarks</title>
  <meta name="description" content="Discover the latest devops tools and frameworks">

  <meta http-equiv="refresh" content="0; url=https://www.devopsbookmarks.org" />
</head>
<body>

<p>This site is no longer maintained</p>

<p>Please view <a href="https://www.devopsbookmarks.org">https://www.devopsbookmarks.org</a> for the latest updates</p>

</body>
</html>