<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DevOps Bookmarks</title>
  <meta name="description" content="Discover the latest devops tools and frameworks">

  <link rel="stylesheet" media="all" href="<%= assetFingerprint('/stylesheets/application.css') %>">
</head>
<body>

  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
    <div class="content">
      <div class="content-article">
        <h2>Discover tools and frameworks in the DevOps landscape.</h2>
        <h3>There are new awesome tools and frameworks being released everyday. This is an open and transparent attempt at aggregating all those. The entire source code and list of tools can be found at <a href="http://github.com/devopsbookmarks">github.com/devopsbookmarks</a>, and you are encouraged to <a href="https://github.com/devopsbookmarks/devopsbookmarks.com/blob/master/CONTRIBUTING.md">contribute anything</a> you come across.</h3>
        <h3>Pick tags to start exploring!</h3>
      </div>

      <div class="random-tool">
        <h3>Random Pick</h3>
        <% include _tool %>
      </div>
    </div>

    <% include _sidebar %>
  </div>

  <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Raleway:400">
  <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56790151-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
