doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")

    title= title
    meta(name="description", content="")

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400')
    link(rel='stylesheet', href='/assets/stylesheets/application.css')
  body
    // [if lte IE 8]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    // <![endif]

    //.header
    //  .logo.item
    //    a(href="/") DevOps Bookmarks

    //  .description.item
    //    p A curated collection of DevOps tools and frameworks

    //  .menu.item
    //    a(href="/") Submit a tool
    //    a(href="/") About

    .container
      block content
