@charset "US-ASCII";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Addresses margins set differently in IE 6/7.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 *  Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?85270050");
  src: url("../font/fontello.eot?85270050#iefix") format("embedded-opentype"), url("../font/fontello.woff?85270050") format("woff"), url("../font/fontello.ttf?85270050") format("truetype"), url("../font/fontello.svg?85270050#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85270050#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-open-source:before {
  content: '\e801';
}

/* '' */
.icon-commercial:before {
  content: '\e802';
}

/* '' */
.icon-free:before {
  content: '\e803';
}

/* '' */
.icon-osx:before {
  content: '\e804';
}

/* '' */
.icon-linux:before {
  content: '\e805';
}

/* '' */
.icon-windows:before {
  content: '\e806';
}

/* '' */
.icon {
  margin: 0 5px 0 0;
  position: relative;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 14px "Raleway", "Roboto", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  background: #222222 url(../images/bg.png) repeat;
  color: #222222;
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0.25em 0 0.5em 0;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
}

.header {
  *zoom: 1;
  width: 100%;
  background: #525454;
  color: #f0f0f0;
}
.header:before, .header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .header {
    height: 56px;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}
.header .item {
  display: block;
  padding: 10px;
  text-align: center;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .header .item {
    text-align: left;
    padding: 0 10px;
    float: left;
  }
  .header .item:last-child {
    padding-right: 0;
  }
}
.header a, .header a:link, .header a:visited, .header a:active, .header a:hover {
  color: #b7d5d5;
  text-decoration: none;
  -webkit-transition: color 0.2s, background 0.2s;
  -moz-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}
.header .logo {
  background: #222222;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .header .logo {
    width: 300px;
    overflow: hidden;
  }
}
.header .logo a, .header .logo a:link, .header .logo a:visited, .header .logo a:active {
  white-space: nowrap;
  display: block;
  text-transform: uppercase;
  font-size: 24px;
}
.header .logo a:hover, .header .logo a:link:hover, .header .logo a:visited:hover, .header .logo a:active:hover {
  color: #f0f0f0;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .header .logo a, .header .logo a:link, .header .logo a:visited, .header .logo a:active {
    line-height: 56px;
  }
}
.header .description p {
  margin: 0;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .header .description p {
    line-height: 56px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 800px) {
  .header .description p {
    display: none;
  }
}
.header .menu a, .header .menu a:link, .header .menu a:visited, .header .menu a:active {
  padding: 0 10px;
}
.header .menu a:hover, .header .menu a:link:hover, .header .menu a:visited:hover, .header .menu a:active:hover {
  color: #f0f0f0;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .header .menu {
    float: right;
  }
  .header .menu a, .header .menu a:link, .header .menu a:visited, .header .menu a:active {
    display: inline-block;
    line-height: 56px;
  }
  .header .menu a:hover, .header .menu a:link:hover, .header .menu a:visited:hover, .header .menu a:active:hover {
    background: #222222;
  }
}

.nav {
  background: rgba(82, 84, 84, 0.5);
  color: #f0f0f0;
  -webkit-font-smoothing: subpixel-antialiased;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .nav {
    position: fixed;
    float: left;
    width: 300px;
    border-right: 0.3em solid rgba(103, 166, 166, 0.5);
    height: 100%;
    overflow-y: auto;
    z-index: 2;
  }
}
.nav > * {
  display: block;
  *zoom: 1;
}
.nav > *:before, .nav > *:after {
  content: " ";
  display: table;
}
.nav > *:after {
  clear: both;
}
.nav > * h3 {
  margin: 0;
  padding: 7px 10px;
  text-transform: uppercase;
  background: rgba(103, 166, 166, 0.5);
}
.nav > * a, .nav > * a:link, .nav > * a:visited, .nav > * a:active, .nav > * a:hover {
  display: block;
  cursor: pointer;
  line-height: 32px;
  padding: 0 10px;
  position: relative;
  color: #f0f0f0;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  .nav > * a, .nav > * a:link, .nav > * a:visited, .nav > * a:active, .nav > * a:hover {
    display: inline-block;
    width: 50%;
  }
}
.nav > * a.active, .nav > * a:link.active, .nav > * a:visited.active, .nav > * a:active.active, .nav > * a:hover.active {
  background: rgba(43, 73, 73, 0.5);
}
.nav > * a.active:after, .nav > * a:link.active:after, .nav > * a:visited.active:after, .nav > * a:active.active:after, .nav > * a:hover.active:after {
  display: block;
}
.nav > * a.active .icon-block, .nav > * a:link.active .icon-block, .nav > * a:visited.active .icon-block, .nav > * a:active.active .icon-block, .nav > * a:hover.active .icon-block {
  display: none;
}
.nav > * a:hover, .nav > * a:link:hover, .nav > * a:visited:hover, .nav > * a:active:hover, .nav > * a:hover:hover {
  background: #222222;
}
.nav .logo a, .nav .logo a:link, .nav .logo a:visited, .nav .logo a:active, .nav .logo a:hover {
  color: #b7d5d5;
  background: #222222;
  white-space: nowrap;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  line-height: 56px;
  -webkit-transition: color 0.2s, background 0.2s;
  -moz-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}
.nav .logo a:hover, .nav .logo a:link:hover, .nav .logo a:visited:hover, .nav .logo a:active:hover, .nav .logo a:hover:hover {
  color: #f0f0f0;
}
@media only screen and (min-width: 0px) and (max-width: 640px) {
  .nav .logo a, .nav .logo a:link, .nav .logo a:visited, .nav .logo a:active, .nav .logo a:hover {
    text-align: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  .nav .logo a, .nav .logo a:link, .nav .logo a:visited, .nav .logo a:active, .nav .logo a:hover {
    width: 100%;
  }
}

.content {
  margin: 0;
  padding: 0.5em;
  color: #525454;
}
@media only screen and (min-width: 640px) and (max-width: 99999999px) {
  .content {
    margin-left: 300px;
  }
}
.content .content-grid {
  *zoom: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
.content .content-grid:before, .content .content-grid:after {
  content: " ";
  display: table;
}
.content .content-grid:after {
  clear: both;
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  .content .content-grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1152px) {
  .content .content-grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 1152px) and (max-width: 1440px) {
  .content .content-grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .content .content-grid {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 99999999px) {
  .content .content-grid {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
.content .tool-container {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  width: 100%;
}
.content .tool {
  border: 1px solid #b7d5d5;
  border-radius: 3px;
  background: #f0f0f0;
  color: #525454;
  -webkit-transition: background 0.2s, border 0.2s;
  -moz-transition: background 0.2s, border 0.2s;
  transition: background 0.2s, border 0.2s;
}
.content .tool > * {
  padding: 10px;
  margin: 0;
  display: block;
  border-bottom: 1px dashed #b7d5d5;
}
.content .tool > *:last-child {
  border-bottom: 0;
}
.content .tool a {
  text-decoration: none;
  color: #67a6a6;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.content .tool a.alert {
  color: #ff4136;
}
.content .tool a:hover {
  color: #222222;
}
.content .tool h2 {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  color: #67a6a6;
}
.content .tool:hover {
  border-color: white;
  background: white;
  color: #222222;
}
.content .tool .icon.disabled:before {
  color: #ffbab6;
}
.content .tool .icon.disabled:after {
  position: absolute;
  text-align: center;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 100%;
  content: "\2014";
  color: #f0f0f0;
  margin-left: 0.1em;
}
.content .tool p.categories small {
  color: #67a6a6;
  text-transform: lowercase;
}
.content .tool p.categories small:after {
  content: ", ";
}
.content .tool p.categories small:last-child:after {
  display: none;
}
